INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.status
config/
configure
libMUSCLE-3.7.pc
libMUSCLE/.deps/
libMUSCLE/.libs/
libMUSCLE/Makefile
libMUSCLE/Makefile.in
libMUSCLE/libMUSCLE-3.7.la
libMUSCLE/*.lo
libMUSCLE/*.o
libMUSCLE/muscle
libtool
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4

